
* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background: #0a2a43;
  min-height: 1500px;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

section img#bg{
  height:70vh;
}

#mountain {
  z-index: 2;
  position: absolute;
}


#text {
  position: absolute;
  color: #fff;
  font-size: 300px;
  font-weight: bolder;
  font-family: 'Great Vibes', cursive;
  z-index: 1; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: top 0.05s linear;
  text-shadow: 0 0 10px #00f, 0 0 20px #0ff;
  animation: typing 3s steps(20, end) forwards, blink 0.7s step-end infinite;
}


@keyframes typing {
  from { width: 0; }
  to { width: 18ch; } /* Adjust based on text length */
}

@keyframes blink {
  50% { border-color: transparent; }
}



#road{
  z-index: 3;
}
#bg {
  z-index: 0;
  position: absolute;
}

#moon {
  z-index: 1;
  position: absolute;
}



@media (max-width: 1024px) {
  #text {
    font-size: 8vw;
  }



  #bg {
    height: 60vh;
  }
}

/* Mobiles */
@media (max-width: 600px) {
  #text {
    font-size: 12vw;
  }

  

  #bg {
    height: 50vh;
  }

  #mountain,
  #moon,
  #road {
    object-fit: contain;
  }
}