
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}


.parallax2 {
  height: 800px;
  
}

.parallax3 {
  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.parallax-text {
  position: relative;
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 2.5em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 6em;
  transition: all 0.2s;
  border: none;
  font-family: inherit;
  color: black;
  background-color: white;
}

.content {
  padding: 2rem;
  background: #f9f9f9;
  color: #333;
  font-size: 50px;
  font-weight:normal;
  text-align:center;
  
}

.dark-section {
  padding: 2rem;
  background: #222;
  color: #fff;
  font-size: 50px;
  font-weight:normal;
  text-align: center;
 
}
